@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h4{
    font-size: 1.5rem;
    color:grey;
    text-align: center;
}

p{
    font-size: 1rem;
    line-height: 160%;
    color: grey;
    text-align: justify;
}